<div class="container col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{ 'home.label.cluster.result' | translate }}</h2>
        </div>
        <div class="panel-body">
            <div class="table-responsive" style="margin-top: 1%">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'home.label.cluster.service' | translate }}</th>
                        <th>{{ 'home.label.cluster.state' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in clusterState.serviceStatusList | filter : searchResult">
                        <td>{{x.name}}</td>
                        <td class="bg-success" ng-show="x.healthSummary=='GOOD'">{{x.healthSummary}}</td>
                        <td class="bg-danger" ng-show="x.healthSummary=='BAD'">{{x.healthSummary}}</td>
                        <td class="bg-primary" ng-show="x.healthSummary=='CONCERNING'">{{x.healthSummary}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>