<div class="container col-sm-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{ 'home.label.cluster.result' | translate }} - {{clusterState.cluster.name}}</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ 'home.label.cluster.disk' | translate }} - 90% used <span data-toggle="tooltip" data-placement="top" title="Not enough space" class="badge badge-pill badge-danger pull-right">!</span></li>
                <li class="list-group-item">{{ 'home.label.cluster.memory' | translate }} - 11000 MB of 12000 MB <span data-toggle="tooltip" data-placement="top" title="Not enough memory" class="badge badge-pill badge-danger pull-right">!</span></li>
                <li class="list-group-item">{{ 'home.label.service.yarn.apps' | translate }} - {{yarnApps.length}}</li>
                <li class="list-group-item" ng-show="clusterState.cluster.secured">{{ 'home.label.cluster.security' | translate }} - {{ 'home.label.common.no_problems' | translate }} <span class="label label-success pull-right">OK</span></li>
            </ul>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="{{activeTab.health}}"><a ng-click="showTab('health')">{{ 'home.label.cluster.result' | translate }}</a></li>
                <li class="{{activeTab.yarn}}"><a ng-click="showTab('yarn')">{{ 'home.label.service.yarn.app.list' | translate }}</a></li>
            </ul>
            <div class="table-responsive" style="margin-top: 1%" ng-show="activeTab.health=='active'">
                <table class="table table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th>{{ 'home.label.cluster.service' | translate }}</th>
                        <th>{{ 'home.label.cluster.state' | translate }}</th>
                        <th>{{ 'home.label.cluster.logs' | translate }}</th>
                        <th>{{ 'home.label.cluster.action' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in clusterState.serviceStatusList">
                        <td>{{x.name}}</td>
                        <td colspan="2" class="bg-success" ng-show="x.healthSummary=='GOOD'">{{x.healthSummary}}</td>
                        <td class="bg-danger" ng-show="x.healthSummary=='BAD'">{{x.healthSummary}}</td>
                        <td colspan="2" class="bg-primary" ng-show="x.healthSummary=='CONCERNING'">{{x.healthSummary}}</td>
                        <td class="bg-danger" ng-show="x.healthSummary=='BAD'">{{ 'home.label.cluster.host' | translate }}: {{clusterState.cluster.host}}, {{ 'home.label.cluster.path' | translate }}: /yarn/containers-logs</td>
                        <td ng-show="isShowServiceActionAllow(x.name)" align="center">
                            <button type="button" style="text-decoration: underline" class="btn btn-primary" ng-click="restartService(x.name)">{{ 'home.button.cluster.restart' | translate }}</button>
                            <!--<div class="input-group-btn">-->
                                <!--<button class="btn btn-default" type="submit" name="restart" ng-click="restartService(x.name)">-->
                                    <!--<i class="glyphicon glyphicon-repeat"></i>-->
                                <!--</button>-->
                                <!--<button class="btn btn-default" type="submit" name="fix" ng-click="fixService(x.name)">-->
                                    <!--<i class="glyphicon glyphicon-pencil"></i>-->
                                <!--</button>-->
                            <!--</div>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="activeTab.yarn=='active'" style="margin-top: 2%">
                <div class="input-group" style="margin-bottom: 2%">
                    <input type="text" class="form-control" ng-model="yarnSearch" placeholder="{{ 'home.placeholder.cluster.search' | translate }}">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'home.label.service.yarn.app.id' | translate }}</th>
                            <th>{{ 'home.label.service.yarn.app.name' | translate }}</th>
                            <th>{{ 'home.label.service.yarn.app.startTime' | translate }}</th>
                            <th>{{ 'home.label.service.yarn.app.state' | translate }}</th>
                            <th>{{ 'home.label.cluster.action' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in yarnApps | filter : yarnSearch">
                            <td>{{x.applicationId}}</td>
                            <td>{{x.name}}</td>
                            <td>{{x.startTime}}</td>
                            <td class="bg-success" ng-show="x.state=='SUCCEEDED'">{{x.state}}</td>
                            <td class="bg-danger" ng-show="x.state=='FAILED'">{{x.state}}</td>
                            <td class="bg-info" ng-show="x.state!='SUCCEEDED' && x.state!='FAILED'">{{x.state}}</td>
                            <td><button type="button" class="btn btn-danger" ng-disabled="x.state!='RUNNING'" ng-click="killApp(x.applicationId)">{{ 'home.button.service.yarn.app.kill' | translate }}</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>